{% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="{% static 'header.css' %}">



<nav class="navbar navbar-dark bg-dark shadow py-2">

    <div class="container-fluid navbar-container">

        <!-- Logo -->
        <a class="navbar-brand fw-bold" href="{% url 'home' %}">
            <i class="fa-solid fa-bag-shopping text-warning"></i>
            FashionHub
        </a>


        <!-- Left Menu -->
        <ul class="navbar-nav flex-row left-menu">

            <!-- Home -->
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/' %}active{% endif %}"
                   href="{% url 'home' %}">
                    <i class="fa-solid fa-house"></i>
                    Home
                </a>
            </li>


            <!-- Products -->
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/products/' %}active{% endif %}"
                   href="{% url 'products' %}">
                    <i class="fa-solid fa-shirt"></i>
                    Products
                </a>
            </li>


            <!-- Details -->
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/products-details/' %}active{% endif %}"
                   href="{% url 'products_details' %}">
                    <i class="fa-solid fa-circle-info"></i>
                    Details
                </a>
            </li>

        </ul>


        <!-- Search -->
        <form class="search-form">

            <input class="form-control"
                   type="search"
                   placeholder="Search for products...">

            <button class="btn btn-warning"
                    type="submit">

                <i class="fa-solid fa-search"></i>

            </button>

        </form>


        <!-- Right Menu -->
        <ul class="navbar-nav flex-row right-menu">

            <!-- Cart -->
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/cart/' %}active{% endif %}"
                   href="{% url 'cart' %}">

                    <span class="badge bg-warning text-dark rounded-pill">
                        0
                    </span>

                    <i class="fa-solid fa-cart-shopping"></i>
                    Cart

                </a>
            </li>


            <!-- Order -->
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/order/' %}active{% endif %}"
                   href="{% url 'order' %}">

                    <i class="fa-solid fa-credit-card"></i>
                    Order

                </a>
            </li>

        </ul>
        <!-- Profile -->
<div class="profile-icon">
    <a href="#">
        <i class="fa-solid fa-user"></i>
    </a>
</div> 

    </div>

</nav>


