{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyShop</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'home.css' %}">

</head>

<body>

{% include "header.html" %} 
<section class="container my-2 py-1">
        <h2 class="text-center fw-bold mb-2">Shop By Category</h2>
    

    <div class="row  g-md-1">

        <!-- Women's Fashion -->
        <div class="col-6 col-md-3">
            <a href="{% url 'women' %}" class="text-decoration-none text-dark">
                <div class="category-card">

                    <div class="category-img">
                        <img src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?w=600"
                            alt="Women's Fashion">
                    </div>

                    <div class="category-body">
                        <h5>Women's Fashion</h5>
                        <span>Shop Now →</span>
                    </div>

                </div>
            </a>
        </div>


        <!-- Men's Fashion -->
        <div class="col-6 col-md-3">
            <a href="{% url 'men' %}" class="text-decoration-none text-dark">
                <div class="category-card">

                    <div class="category-img">
                        <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?w=600"
                            alt="Men's Fashion">
                    </div>

                    <div class="category-body">
                        <h5>Men's Fashion</h5>
                        <span>Shop Now →</span>
                    </div>

                </div>
            </a>
        </div>


        <!-- Kids Wear -->
        <div class="col-6 col-md-3">
            <a href="{% url 'kids' %}" class="text-decoration-none text-dark">
                <div class="category-card">

                    <div class="category-img">
                        <img src="https://images.unsplash.com/photo-1512436991641-6745cdb1723f?w=600"
                            alt="Kids Wear">
                    </div>

                    <div class="category-body">
                        <h5>Kids Wear</h5>
                        <span>Shop Now →</span>
                    </div>

                </div>
            </a>
        </div>


        <!-- Accessories -->
        <div class="col-6 col-md-3">
            <a href="{% url 'Accessories' %}" class="text-decoration-none text-dark">
                <div class="category-card">

                    <div class="category-img">
                        <img src="https://images.unsplash.com/photo-1523170335258-f5ed11844a49?w=600"
                            alt="Accessories">
                    </div>

                    <div class="category-body">
                        <h5>Accessories</h5>
                        <span>Shop Now →</span>
                    </div>

                </div>
            </a>
        </div>

    </div>

</section>





<h4 class="text-center fw-bold mb-2 ">Shopping Now</h1>


{% include "product_section.html"  %}


 {% include "footer.html" %} 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

